{{> header }}
<form class="center row" method="GET" action="/">
  <div class="col s12 ">
    <div class="row" id="topbarsearch">
      <div class="input-field col s6 s12 red-text">
          <i class="red-text material-icons prefix">search</i>
          <input
            type="text"
            list="suggestions"
            placeholder="Search term"
            id="autocomplete-input"
            name="query"
            class="autocomplete red-text validate"
            oninput="this.form.dispatchEvent(new Event('submit', {bubbles: true}))"
            value="{{ query }}"
            autocomplete="off"
            autofocus
          />
      </div>
    </div>
  </div>
</form>
{{#if searchResult }}
<p>
  <div class="chip">Hits: {{ searchResult.nbHits }}</div>
</p>
<div class="hits">
  {{#each searchResult.hits}}
    <div  id="{{ ikea_id }}" class="card blue-grey darken-1 hit">
      <div class="card-content white-text">
        <span class="card-title">{{ name }}</span>
      </div>
      <div class="image-wrapper">
        <image src="{{ image }}"/>
      </div>
    </div>
  {{/each}}
</div>

{{#if pages }}
<ul class="pagination">
  {{#each pages}}
    <li class="waves-effect{{#if active}} active{{/if}}"><a href="{{ url }}">{{ label }}</a></li>
  {{/each}}
</ul>
{{/if }}
{{/if }}
{{> footer }}
